@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

header, main {
  margin: auto;
}

main {
  padding: 16px 16px;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #566b78;
    margin: 0;
    padding: 0;
}

header { 
  background-color: black;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('coverphoto.jpg');
  background-position: center top;
  background-size: cover;
  max-width: none;
  text-align: center;
  line-height: 1.2;
  height: 550px;
  padding: 130px 32px;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: transparent;
  border-color: transparent;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}

.navbar-default .navbar-nav > li > a {
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.navbar-default .navbar-nav > li > a::after {
  color: white;
  content: '';
  display: block;
  margin: auto;
  height: 2.4px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}


.navbar-default .navbar-nav > li > a:hover::after {
  width: 100%;
  background-color: white;
}


.navbar-default .navbar-nav > li > a:hover {
  color: white;
}

#logo {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

h1 {
    color: white;
    font-size: 48px;
}

header p {
    color: white;
    font-size: 20px;
}

h2 {
  color: #333;
}

/* Use if there is still time */
header a {
  color: white;
  font-size: 10px;
  letter-spacing: 2px;
  padding: 16px 12px;
  text-transform: uppercase;
  text-decoration: none;
}
/* Use if there is still time */

.project-content{
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 4%;
}
